.homebody {
  background-image: url('/static/assets/pxfuel.jpg');
  background-size: cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar-header a {
  color: white;
  font-family: cursive;
  font-size: 30px;
  margin-left: 5px;
  top: 0;
}

li a {
  color: #c5bdbd !important;
  font-weight: bold;
}

li a:hover {
  color: white !important;
}

.page-heading {
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 36px;
  margin: 30px;
  text-align: center;
}

.active {
  color: white !important;
}